
    body{
      background: black;
      color:white;
      overflow: hidden;
    }
    .container {
      width: 210px;
      height: 140px;
      position: relative;
      margin: 0 auto 40px;
      top:250px;
      -webkit-perspective: 1100px;
         -moz-perspective: 1100px;
           -o-perspective: 1100px;
              perspective: 1100px;
    }


    #carousel {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;

    }

    .ready #carousel {
      -webkit-transition: -webkit-transform 1s;
         -moz-transition: -moz-transform 1s;
           -o-transition: -o-transform 1s;
              transition: transform 1s;
    }

    #carousel.panels-backface-invisible figure {
      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
    }

    #carousel figure {
      display: block;
      position: absolute;
      width: 210px;
      height: 186px;
      left: 10px;
      top: 10px;
      line-height: 116px;
      font-size: 80px;
      font-weight: bold;
      color: white;
      text-align: center;
      border:1px white solid;
    }

    .ready #carousel figure {
      -webkit-transition: opacity 1s, -webkit-transform 1s;
         -moz-transition: opacity 1s, -moz-transform 1s;
           -o-transition: opacity 1s, -o-transform 1s;
              transition: opacity 1s, transform 1s;
    }
